.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

img {
    width: 100px;
}

.imagen {
    max-width: 50%;
    max-height: auto;
    border-radius: 50%;
    transition: 1s;
}

.imagen:hover {
    border-radius: 0%;
    max-width: 100%;
    transform: scale(100%);
    transition: 1s;
}

.fondo {
    background-image: url('efpn°7 c.png');
    background-size: cover;
    background-attachment: fixed;
    filter: contrast(120%);
    border-radius: 20px;
}

a {
    text-decoration: none;
}
body{
    background-image: url('https://images.wallpaperscraft.com/image/single/pebbles_stones_black_144176_2560x1080.jpg');
    background-size: cover;
    background-attachment: fixed;
}
header{
    backdrop-filter: blur(10px);
}
@media(max-width:500px) {
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    ul li {
        display: inline-block;
    }

    .logo {
        max-width: 100px;
    }
}

@media(min-width:501px) {
    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    ul li {
        display: inline-block;
    }

    .logo {
        max-width: 100px;
    }
}

@media(min-width:900px) {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    ul li {
        display: inline-block;
    }

    .logo {
        max-width: 100px;
    }
}

/* From Uiverse.io by niat786 */ 
button {
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 17px;
    padding: 0.3em 1.0em;
    margin-right: 10px;
    margin-top: 10px;
   }
   
   button:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
   }
   
   @keyframes pulse512 {
    0% {
     box-shadow: 0 0 0 0 #05bada66;
    }
   
    70% {
     box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
   
    100% {
     box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
   }



